{%  style  %} 
    .section-{{ section.id }}-padding-row {
        padding-left: {{ section.settings.padding_left |  times: 0.7 |  round: 0 }}px;
        padding-right: {{ section.settings.padding_right |  times: 0.7 |  round: 0 }}px;
    }

    @media (min-width: 750px) {
        .section-{{ section.id }}-padding-row {
        padding-left: {{ section.settings.padding_left }}px;
        padding-right: {{ section.settings.padding_right }}px;
    }
    }
{% endstyle %}

<div class="featured-collection-all">
    <div class="all-item-btn {% if section.settings.page_width %}page-width{% else %} section-{{ section.id }}-padding-row {% endif %}">
        {% if section.settings.btn_label %}
            <a class="all-item" href="{{ section.settings.btn_link }}">{{ section.settings.btn_label }}</a>
        {% endif %}
    </div>
</div>

{% schema %}
    {
        "name": "featured collection all",
        "class": "section",
        "settings": [
            {
                "type": "checkbox",
                "id": "page_width",
                "label": "Page width",
                "default": false
            },
            {
                "type": "text",
                "id": "btn_label",
                "label": "Button Label"
            },
            {
                "type": "url",
                "id": "btn_link",
                "label": "button Link"
            },
            {
                "type": "range",
                "id": "padding_left",
                "label": "Padding left",
                "min": 0,
                "max": 150,
                "step": 10,
                "unit": "px",
                "default": 50
            },
            {
                "type": "range",
                "id": "padding_right",
                "label": "Padding right",
                "min": 0,
                "max": 150,
                "step": 10,
                "unit": "px",
                "default": 50
            }
        ],
        "presets": [
            {
                "name": "feature collection title"
            }
        ]
    }
{% endschema %}
