
<style>
    .meltingpot {
        position: relative;
    }
    .meltingpot .contain {
        position: relative;
        margin: 0;
    }
    .meltingpot .contain .desktop {
        display: flex;
    }
    .meltingpot .mobile {
        display: none;
    }
    .meltingpot .text-image {
        position: absolute;
        bottom: 70px;
        padding-left: 48px;
        padding-right: 50px;
        width: 100%;
    }
    @media (max-width: 425px) {
        .meltingpot .mobile {
            display: flex;
        }
        .meltingpot .contain .desktop {
            display: none;
        }
        .meltingpot .text-image {
            bottom: 23.8px;
            padding-left: 25px;
            padding-left: 25px;
        }
    }
</style>
<div class="meltingpot">
    <div class="contain">
        {% if section.settings.img %}
            <img
                srcset="
                  {% if section.settings.img.width >= 350 %}{{ section.settings.img | image_url: width: 350 }} 350w,{% endif %}
                  {% if section.settings.img.width >= 750 %}{{ section.settings.img | image_url: width: 750 }} 750w,{% endif %}
                  {% if section.settings.img.width >= 1100 %}{{ section.settings.img | image_url: width: 1100 }} 1100w,{% endif %}
                  {% if section.settings.img.width >= 1500 %}{{ section.settings.img | image_url: width: 1500 }} 1500w,{% endif %}
                  {% if section.settings.img.width >= 2200 %}{{ section.settings.img | image_url: width: 2200 }} 2200w,{% endif %}
                  {% if section.settings.img.width >= 3000 %}{{ section.settings.img | image_url: width: 3000 }} 3000w,{% endif %}
                  {{ section.settings.img | image_url }} {{ section.settings.img.width }}w
                "
                src="{{ section.settings.img | image_url: width: 1100 }}"
                loading="eager"
                fetchpriority="high"
                width="auto"
                height="auto"
                alt="{{ section.settings.img.alt | escape }}"
                class="desktop"
              >
            <img
                srcset="
                  {% if section.settings.mobile_img.width >= 350 %}{{ section.settings.mobile_img | image_url: width: 350 }} 350w,{% endif %}
                  {% if section.settings.mobile_img.width >= 750 %}{{ section.settings.mobile_img | image_url: width: 750 }} 750w,{% endif %}
                  {% if section.settings.mobile_img.width >= 1100 %}{{ section.settings.mobile_img | image_url: width: 1100 }} 1100w,{% endif %}
                  {% if section.settings.mobile_img.width >= 1500 %}{{ section.settings.mobile_img | image_url: width: 1500 }} 1500w,{% endif %}
                  {% if section.settings.mobile_img.width >= 2200 %}{{ section.settings.mobile_img | image_url: width: 2200 }} 2200w,{% endif %}
                  {% if section.settings.mobile_img.width >= 3000 %}{{ section.settings.mobile_img | image_url: width: 3000 }} 3000w,{% endif %}
                  {{ section.settings.mobile_img | image_url }} {{ section.settings.mobile_img.width }}w
                "
                src="{{ section.settings.mobile_img | image_url: width: 1100 }}"
                loading="eager"
                fetchpriority="high"
                width="auto"
                height="auto"
                alt="{{ section.settings.img.alt | escape }}"
                class="mobile"
              > 
        {% endif %}
    </div>
    <img
        srcset="
            {% if section.settings.text_image.width >= 350 %}{{ section.settings.text_image | image_url: width: 350 }} 350w,{% endif %}
            {% if section.settings.text_image.width >= 750 %}{{ section.settings.text_image | image_url: width: 750 }} 750w,{% endif %}
            {% if section.settings.text_image.width >= 1100 %}{{ section.settings.text_image | image_url: width: 1100 }} 1100w,{% endif %}
            {% if section.settings.text_image.width >= 1500 %}{{ section.settings.text_image | image_url: width: 1500 }} 1500w,{% endif %}
            {% if section.settings.text_image.width >= 2200 %}{{ section.settings.text_image | image_url: width: 2200 }} 2200w,{% endif %}
            {% if section.settings.text_image.width >= 3000 %}{{ section.settings.text_image | image_url: width: 3000 }} 3000w,{% endif %}
            {{ section.settings.text_image | image_url }} {{ section.settings.text_image.width }}w
        "
        src="{{ section.settings.text_image | image_url: width: 1100 }}"
        loading="eager"
        fetchpriority="high"
        width="auto"
        height="auto"
        alt="{{ section.settings.img.alt | escape }}"
        class="text-image"
        >
</div>


{% schema %}
    {
        "name": "meltingpot",
        "class": "section",
        "settings": [
            {
                "type": "image_picker",
                "id": "img",
                "label": "Image"
            },
            {
                "type": "image_picker",
                "id": "mobile_img",
                "label":"Mobile Image"
            },
            {
                "type": "text",
                "id": "image_text",
                "label": "Text",
                "default": "MELTINGPOT"
            },
            {
                "type": "image_picker",
                "id": "text_image",
                "label": "Text"
            }
        ],
        "presets": [
            {
                "name": "meltingpot"
            }
        ]
    }
{% endschema %}
